@model CarShop.Models.NguoiDung

@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Styleform.css" rel="stylesheet" />

<div id="wrap-n">
    <div id="form-login">
        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr class="title-form">
                    <th colspan="2">Đăng nhập</th>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td style="border: 1px solid black; border-radius: 3px; background-color: #393646">@Html.TextBoxFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.Email)</td>
                </tr>

                <tr>
                    <td colspan="2">
                        @if (ViewBag.error != null)
                        {
                            <span class="field-validation-error">@ViewBag.error</span>
                        }
                    </td>
                </tr>


                <tr>
                    <td>@Html.LabelFor(m => m.MatKhau)</td>
                    <td style="border: 1px solid black; border-radius: 3px; background-color: #393646">@Html.PasswordFor(m => m.MatKhau)</td>
                </tr>
                <tr>
                    <td colspan="2">@Html.ValidationMessageFor(m => m.MatKhau)</td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Đăng nhập" class="form-submit">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="margin-top: 15px ">Bạn chưa có tài khoản? <a href="@Url.Action("Dangki" , "User")" style="text-decoration: underline; color: darkslategray ">Đăng kí</a></p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="field-validation-error"> @ViewBag.Fail</td>
                </tr>
            </table>
           
        }
    </div>

  

</div>


